body {
  font-family: "Open Sans", sans-serif;
  background-color: #fffcf4;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

/*header section*/

.header_section {
  font-family: "Roboto", sans-serif;
  background-color: #1f233e;
  color: #fff;
  min-height: 90px;
  padding: 1% 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .navbar-toggler {
  border-color: #fff;
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}


.nav-link:hover {
  color: #fefefe;
}

.logo_box {
  width: 120px;
}

.logo_box img {
  width: auto;
  max-height: 60px;
  display: block;
}
.rc-number {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  font-weight: 300;
}

.call_to_btn {
  display: inline-block;
  color: #fefefe;
  padding: 10px 35px;
  background-color: #f6bb08;
  margin-top: 5%;
  margin-bottom: 20%;
  border-radius: 0;
}

/*end header section*/

/* slider section */

.slider_section {
  height: auto;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.slider_section .carousel-indicators {
  top: 50%;
  left: -75px;
  transform: translateY(-50%);
  display: block;
  bottom: unset;
  right: unset;
}

.slider_section .carousel-indicators li {
  width: 16px;
  height: 16px;
  opacity: 1;
  margin: 0 auto;
}

.slider_section .carousel-indicators .active {
  width: 24px;
  height: 24px;
  background-color: #2561db;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.slider_section .slider_box {
  height: auto;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.slider_section .slider_box .fixed_company-detail {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
}

.slider_section .slider_box .fixed_company-detail p {
  width: 12px;
  text-align: center;
  word-break: break-word;
  color: #fff;
  text-transform: uppercase;
}

.slider_section .slider_box .slider-detail {
  color: #fff;
  width: 60%;
  margin-top: 14%;
  margin-left: 20%;
}

.slider_section .slider_box .slider-detail .slider_detail-heading h2 {
  font-weight: 100;
  text-transform: uppercase;
}

.slider_section .slider_box .slider-detail .slider_detail-heading h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.slider_section .slider_box .slider-detail .slider_detail-text {
  width: 55%;
  color: #f8fafd;
}

.slider_section .slider_box .slider-detail .slider_detail-btn {
  display: flex;
}

.slider_section .slider_box .slider-detail .slider_detail-btn a {
  margin-top: 28px;
  padding: 16px 20px;
  background-color: #2561db;
  color: #fff;
}
carousel-item {
  height: calc(100vh - 90px);
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

/* Optional overlay for better text readability */
.slider_box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}
/* Add these to your slider section styles */
.carousel-item img {
  animation: zoom 30s linear infinite;
  transform: scale(1.1); /* Initial zoom level */
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15); /* Slight zoom in */
  }
  100% {
    transform: scale(1.1);
  }
}

/* Ensure the zoom doesn't crop important parts */
.carousel-item {
  overflow: hidden;
}
/* Ensure content stays above images */
.slider_box > div {
  position: relative;
  z-index: 2;
}
.slider_section img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


/* end slider section */

/* welcome section */
.welcome_section .col-md-6 {
  padding: 0 4%;
}

.welcome_detail {
  width: 75%;
}

.welcome_detail h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
}

.welcome_detail h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
}

.welcome_detail h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #36bb25;
}

.welcome_detail h2,
.welcome_detail p,
.welcome_detail .welcome_detail-btn {
  margin-top: 25px;
}

.welcome_section .welcome_detail-btn a,
.welcome_section .welcome_detail-btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.welcome_section .welcome_detail-btn a img {
  width: 25px;
}
  

/* end welcome section */

/* service section */

.service_section .container {
  padding: 0 50px;
}

.service_detail h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
}

.service_detail h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
}

.service_detail h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1.5px;
  width: 45px;
  background-color: #36bb25;
}

.service_section .service_img-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.service_section .service_img-container .service_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 325px;
  background-size: cover;
}


.service_section .service_img-container a,
.service_section .service_img-container a:hover {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
}

.service_section .service_img-container .service_img-box:hover {
  cursor: pointer;
}

.service_section .service_img-container .service_img-box:hover a {
  background-color: #2561db;
}

.service_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.service_btn a,
.service_btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.service_btn a img {
  width: 25px;
}
/* end service section */

/* security section */

.security_section h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.security_section h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
  text-align: center;
}

.security_section h3::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #36bb25;
}

.security_section .security_container {
  width: 90%;
  margin: 0 auto;
}

.security_section .security_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 300px;
  height: 490px;
  margin: 0 auto;
  z-index: 999;
}




.security_section .security_img-box a {
  display: none;
  opacity: 0;
  text-transform: uppercase;
  padding: 8px 12px;
  border: 1.5px solid #f0f0f0;
  color: #fff;
}

.security_section .security_img-box:hover a {
  display: inline-block;
  opacity: 1;
}

.security_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.security_btn a,
.security_btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.security_btn a img {
  width: 25px;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-nav.disabled {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  background-color: #254a93;
  width: 70px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-next {
  right: -25px;
  background-image: url(../images/right-arrow.png);
}

.owl-carousel .owl-nav .owl-prev {
  left: -25px;
  background-image: url(../images/left-arrow.png);
}

/* end security section */

.story_section {
  padding: 0 4%;
}

.story_section .container-fluid {
  -webkit-box-shadow: 1px -1px 24px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 24px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 24px -13px rgba(0, 0, 0, 0.75);
}

.story_section .col-md-6 {
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #fcfcfc;
}

.story_detail {
  margin-left: 40px;
}

.story_detail h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
}

.story_detail h3 {
  text-transform: uppercase;
  color: #254a93;

  margin: 0;
}

.story_detail {
  width: 85%;
}

.story_detail .story_detail-btn {
  margin-top: 25px;
}

.story_section .story_detail-btn a,
.story_section .story_detail-btn a:hover {
  text-transform: uppercase;

  color: #0c0b09;
}

.story_section .story_detail-btn a img {
  width: 25px;
}

.contact_form-container {
  background-image: url(../images/flag.jpg);
}

.contact_form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact_form-container .contact_box {
  background-color: #fff;
  padding: 35px 40px;
  width: 50%;
  height: 60%;
  margin: 100px 50px;
}

.contact_form-container form input,
.contact_form-container form input:focus,
.contact_form-container form input:active {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #00cc99;
  width: 85%;
  margin-top: 12px;
  outline: none;
}

.contact_form-container form button {
  border: none;
  background-color: #254a93;
  color: #fff;
  padding: 8px 20px;
  margin-top: 15px;
}

.contact_section .row .col-md-6 {
  padding: 0;
}

/* end contact section */

/* info section */
.info_section {
  background-color: #000202;
  font-family: "Roboto", sans-serif;
}

.info_section .info_detail {
  display: flex;
  align-items: center;
}

.info_section .info_detail p {
  color: #fff;
}

.address_link-container {
  display: block;
}

.address_link-container a {
  display: flex;
  color: #fff;
  margin: 15px 0;
  align-items: center;
}

.address_link-container a img {
  margin-right: 10px;
}

.info_section .news_container h3,
.info_section .address_container h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
}

.info_section .news_container form {
  margin: 28px 0;
}

.info_section .news_container form input {
  border: none;
  background-color: #fff;
  width: 70%;
  padding: 7px 10px;
}

.info_section .news_container form button {
  border: none;
  background-color: #254a93;
  color: #fff;
  font-size: 14px;
  padding: 8px 15px;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .news_container .social_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
/* end info section */

/* footer section*/

.footer_section {
  background-color: #254a93;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color: #fff;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fff;
}
/* end footer section*/
@media (max-width: 768px) {
  .slider_section {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .carousel-item {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  .welcome_section {
    margin-top: 0 !important;
    padding-top: 20px; /* or 0 if you want it tighter */
  }
}
/* mcnlbc section */

.mcnlbc_section h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.mcnlbc_section h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
  text-align: center;
}

.mcnlbc_section h3::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1.5px;
  width: 140px;
  background-color: #36bb25;
}

.mcnlbc_section .mcnlbc_container {
  width: 90%;
  margin: 0 auto;
}

.mcnlbc_section .mcnlbc_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 320px;
  aspect-ratio: 3 / 5;
  margin: 0 auto;
  z-index: 999;
}

.mcnlbc_section .mcnlbc_img-box.i-box-1 {
  background-image: url(../images/sol-1.jpg);
}

.mcnlbc_section .mcnlbc_img-box.i-box-2 {
  background-image: url(../images/sob-1.jpg);
}

.mcnlbc_section .mcnlbc_img-box.i-box-3 {
  background-image: url(../images/jol-1.jpg);
}

.mcnlbc_section .mcnlbc_img-box.i-box-4 {
  background-image: url(../images/job-01.jpg);
}

.mcnlbc_section .mcnlbc_img-box a {
  display: none;
  opacity: 0;
  text-transform: uppercase;
  padding: 8px 12px;
  border: 1.5px solid #f0f0f0;
  color: #fff;
}

.mcnlbc_section .mcnlbc_img-box:hover a {
  display: inline-block;
  opacity: 1;
}

.mcnlbc_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.mcnlbc_btn a,
.mcnlbc_btn a:hover {
  text-transform: uppercase;
  color: #0c0b09;
}

.mcnlbc_btn a img {
  width: 25px;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-nav.disabled {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  background-color: #254a93;
  width: 70px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-next {
  right: -25px;
  background-image: url(../images/right-arrow.png);
}

.owl-carousel .owl-nav .owl-prev {
  left: -25px;
  background-image: url(../images/left-arrow.png);
}

.mcnlbc_item {
  margin-bottom: 30px;
}

.mcnlbc_label {
  margin-top: 10px;
  font-weight: 500;
  color: #254a93;
  font-size: 16px;
  text-align: center;
}
/* end mcnlbc section */

/* mcnlbcs section */
.mcnlbcs_section .container {
  padding: 0 50px;
}

.mcnlbcs_detail h2 {
  text-transform: uppercase;
  color: #0c0b09;
  font-weight: bold;
}

.mcnlbcs_detail h3 {
  text-transform: uppercase;
  color: #254a93;
  position: relative;
}

.mcnlbcs_detail h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1.5px;
  width: 45px;
  background-color: #36bb25;
}

.mcnlbcs_section .mcnlbcs_img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.mcnlbcs_section .mcnlbcs_img-container .mcnlbcs_img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 3 / 2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 20px;
}

.mcnlbcs_img-container .mcnlbcs_img-box.i-box-4 {
  width: 60%;
  background-image: url(../images/cet-1.jpg);
}

.mcnlbcs_section .mcnlbcs_img-container a,
.mcnlbcs_section .mcnlbcs_img-container a:hover {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
}

.mcnlbcs_section .mcnlbcs_img-container .mcnlbcs_img-box:hover {
  cursor: pointer;
}

.mcnlbcs_section .mcnlbcs_img-container .mcnlbcs_img-box:hover a {
  background-color: #2561db;
}

.mcnlbcs_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.mcnlbcs_btn a,
.mcnlbcs_btn a:hover {
  text-transform: uppercase;
  color: #0c0b09;
}

.mcnlbcs_btn a img {
  width: 25px;
}
/* end mcnlbcs section */

/* ===================================================================
 * # social  
 *
 * ------------------------------------------------------------------- */
.s-social {
  padding-top: 10.4rem;
  padding-bottom: 9.6rem;
  background-color: #000000;
}

.social-content {
  max-width: 1000px;
}

.social-list {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 5.6rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  text-align: center;
  margin: 0;
}

.social-list li {
  display: inline-block;
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}

.social-list a {
  color: #ffffff;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__icon {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 2rem;
  position: relative;
}

.social-list__icon::before {
  content: "";
  display: block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
  left: 50%;
}

.social-list__icon--facebook::before {
  background-image: url(../images/icon-facebook.svg);
}

.social-list__icon--twitter::before {
  background-image: url(../images/icon-twitter.svg);
}

.social-list__icon--instagram::before {
  background-image: url(../images/icon-instagram.svg);
}

.social-list__icon--email::before {
  background-image: url(../images/icons/social/icon-email.svg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * social
 * ------------------------------------------------------------------- */
@media screen and (max-width:1200px) {
  .social-list li {
    margin-right: 1.2rem;
    margin-left: 1.2rem;
  }

}

@media screen and (max-width:1000px) {
  .social-list__text {
    display: none;
  }

  .social-list__icon {
    width: 5.6rem;
    height: 5.6rem;
    margin-right: 0;
  }

  .social-list__icon::before {
    height: 2.4rem;
    width: 2.4rem;
  }

}

@media screen and (max-width:600px) {
  .social-list__icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  .social-list__icon::before {
    height: 2rem;
    width: 2rem;
  }

}

@media screen and (max-width:400px) {
  .social-list li {
    margin-right: .8rem;
    margin-left: .8rem;
  }

  .social-list__icon {
    width: 4.4rem;
    height: 4.4rem;
  }

  .social-list__icon::before {
    height: 1.6rem;
    width: 1.6rem;
  }

}

/* FULL WIDTH CONTACT FIX */
.contact_fullwidth {
  background: #f5f5f5;
  padding: 80px 0 100px;
}

.contact_box_full {
  width: 100%;
  padding: 50px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.contact_box_full h3 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.contact_box_full .form-control {
  height: 55px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 12px 15px;
}

.contact_box_full textarea {
  height: auto;
}

.contact_btn {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  padding: 14px 50px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 6px 20px rgba(106,142,251,0.4);
  transition: 0.3s ease;
}

.contact_btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(106,142,251,0.6);
}

